body {
    height: 98vh;
    background-color: rgb(65, 64, 64);   
}

header {
    color: white;
    font-family: 'Sonsie One', cursive;
    font-size: 20px;
    text-align: center;
}

main {
    height: 100%;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(4,1fr);
    grid-gap: 10px;
    padding: 40px;
}

img {
    width: 100%;
    height: auto;
    border-radius: 10px;

}

.box {
    grid-column: span 2;
    grid-row: span 1;   
}


@media only screen and (min-width: 600px) {
    main {
        grid-template-columns: repeat(9, 1fr);
        grid-template-rows: repeat(10, 1fr);
    }

    img {
        height: 100%;
    }

}

@media only screen and (min-width: 900px) {
    main {
        grid-template-columns: repeat(11, 1fr);
        grid-template-rows: repeat(8, 1fr);
    }
}






/*
.a {
    grid-column: span 2;
    grid-row: span 1;   
}

.b {
    grid-column: span 2;
    grid-row: span 1;   
}

.c {
    grid-column: span 2;
    grid-row: span 1;   
}

.d {
    grid-column: span 2;
    grid-row: span 1;   
}

.e {
    grid-column: span 2;
    grid-row: span 1;   
}

.f {
    grid-column: span 2;
    grid-row: span 1;   
}

.g {
    grid-column: span 2;
    grid-row: span 1;   
}

.h {
    grid-column: span 2;
    grid-row: span 1;   
}

.i {
    grid-column: span 2;
    grid-row: span 1;   
}

.j {
    grid-column: span 2;
    grid-row: span 1;   
}
.k {
    grid-column: span 2;
    grid-row: span 1;   
}

.l {
    grid-column: span 2;
    grid-row: span 1;   
}

.m {
    grid-column: span 2;
    grid-row: span 1;   
}

.n {
    grid-column: span 2;
    grid-row: span 1;   
}

.o {
    grid-column: span 2;
    grid-row: span 1;   
}

.p {
    grid-column: span 2;
    grid-row: span 1;   
}

.q {
    grid-column: span 2;
    grid-row: span 1;   
}*/

